$second_font: Ubuntu, system-ui, -apple-system, Segoe UI, Roboto, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont,
    Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
$main_font: Lato,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$dark: rgb(33, 33, 33);
$grey: rgb(229,229,229);
$pale: rgb(245, 245, 245);
$orange: rgb(208, 55, 0);
$green: rgb(2, 104, 5);
$red: rgb(230, 5, 16);

$xl: 1420px;
$md: 1025px;
$sm: 768px;

$top_bar_offset: 32px;
$header_offset: 80px;

$font_28: 1.75rem;
$font_24: 1.5rem;
$font_20: 1.25rem;
$font_18: 1.125rem;
$font_16: 1rem;;
$font_14: 0.875rem;
$font_12: 0.75rem;

$transition: .3s;