@import "_vars.scss";
@import "_mixins.scss";
@import "_common.scss";
@import "_components.scss";
@import "_transitions.scss";

// Lazy Load image fadeIn effect
.is-lazyloaded {
    animation: fadeIn 1s ease forwards;
}
.lazyload {
    opacity: 0;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        width: 15px;
        height: 15px;
        display: block;
        background-color: $red;
        border-radius: 50%;
        transform: scale(0);
        
        animation: loader-item 1s linear infinite;
        &:first-child {
            transform: scale(1);
        }
        &:nth-child(2) {
            animation-delay: 0.15s;
        }
        &:nth-child(3) {
            animation-delay: 0.3s;
        }
    }
}
@keyframes loader-item {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.panel-modal {
    z-index: 998!important;
}