.border {
    border-width: 1px;
    border-style: solid;
}
.border-top {
    border-top: 1px solid #000;
}
.border-bottom {
    border-bottom: 1px solid #000;
}
.border-white {
    border-color: $white;
}
.border-grey {
    border-color: $grey;
}
.border-pale {
    border-color: $pale;
}