// Color
.color-grey {
    color: $grey;
}
.color-dark {
    color: $dark;
}
.color-green {
    color: $green;
}
.color-orange {
    color: $orange;
}
.color-red {
    color: $red;
}
.color-white {
    color: $white;
}

// Background
.bg-grey {
    background-color: $grey;
}
.bg-orange {
    background-color: $orange;
}
.bg-red {
    background-color: $red;
}
.bg-black {
    background-color: $black;
}
.bg-dark {
    background-color: $dark;
}
.bg-white {
    background: $white;
}
.bg-green {
    background: $green;
}
.bg-pale {
    background-color: $pale;
}
